.player-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(27, 27, 27, 0.932);
    z-index: 550;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player-box .close {
    position: absolute;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 35px;
    right: 20px;
    top: 10px;
}
.player-box video{
    width: 1000px;
    height: 500px;
}
@media (max-width: 1064px) {
    .player-box video{
        width: 95%;
        margin: 0 auto;
        height: auto;
    }
}